
<% if @article and @article.id %>
 <h3><%= _("Merge Articles")%></h3>
 <div  class='inputs-list' >
    <label > <%= _("Article ID:") %>
    	<%= number_field_tag "merge_id", nil ,:style => ' width: 5%'%>
   </label>
   <%= save( _("Merge")) %>
 </div>
<% end %>
